<header>
    <div class="header-top">
        <div class="container">
            <a href="#" class="logo" title="Ламинатор">
                <img src="img/logo.svg" alt="Logo">
            </a>
            <ul class="menu top-menu">
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Возврат и гарантии</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Вопросы и ответы</a></li>
                <li><a href="#">Полезная информация</a></li>
            </ul>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom__left">
                <div class="city-box">
                    <select name="select-city" id="select-city">
                        <option value="Воронеж">Воронеж</option>
                        <option value="Фролово">Фролово</option>
                        <option value="Ливны">Ливны</option>
                    </select>
                </div>
                <a href="tel:+79066809075" class="tel">+7 906 680 90 75</a>
                <a href="#" class="address js-address">Московский пр-кт 102</a>
                <div class="worktime">Пн - Вс с 10:00 до 19:00</div>
            </div>
            <div class="header-bottom__right">
                <a href="#" class="favorites"><span>12</span></a>
                <a href="#" class="cart">
                    <span><i>12</i></span>
                    <b>2000 ₽</b>
                </a>
                <a id="hamburger-icon" href="javascript: void(0);" title="Menu"><span class="line line-1"></span><span class="line line-2"></span><span class="line line-3"></span></a>
            </div>
        </div>
    </div>
    <div class="mobile-menu">
        <div class="search-mobile">
            <form action="/" method="POST">
                <input type="search" placeholder="Бренд или название товара...">
                <button type="submit"></button>
            </form>
        </div>
        <ul class="menu-cat-mobile">
            <li class="link-sub">
                <a href="#">Ламинат <i></i></a>
                <ul class="sub-menu">
                    <li><a href="#">AGT PERGO</a></li>
                    <li><a href="#">ALSAFLOOR</a></li>
                    <li><a href="#">DFRISTA TARKETT</a></li>
                    <li><a href="#">CLASSEN</a></li>
                    <li><a href="#">KRONOPOL</a></li>
                    <li><a href="#">MY FLOOR</a></li>
                </ul>
            </li>
            <li class="link-sub">
                <a href="#">Линолеум <i></i></a>
                <ul class="sub-menu">
                    <li><a href="#">AGT PERGO</a></li>
                    <li><a href="#">ALSAFLOOR</a></li>
                    <li><a href="#">DFRISTA TARKETT</a></li>
                    <li><a href="#">CLASSEN</a></li>
                    <li><a href="#">KRONOPOL</a></li>
                    <li><a href="#">MY FLOOR</a></li>
                </ul>
            </li>
            <li class="link-sub">
                <a href="#">Виниловая плитка <i></i></a>
                <ul class="sub-menu">
                    <li><a href="#">AGT PERGO</a></li>
                    <li><a href="#">ALSAFLOOR</a></li>
                    <li><a href="#">DFRISTA TARKETT</a></li>
                    <li><a href="#">CLASSEN</a></li>
                    <li><a href="#">KRONOPOL</a></li>
                    <li><a href="#">MY FLOOR</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>