<header class="header">
    <div class="header-top">
        <div class="container">
            <a href="#" class="logo"><img src="img/logo-new.svg" alt=""></a>
            <ul class="menu top-menu">
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Возврат и гарантии</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Вопросы и ответы</a></li>
                <li><a href="#">Полезная информация</a></li>
            </ul>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom__left">
                <select name="select-city" id="select-city">
                    <option value="Воронеж">Воронеж</option>
                    <option value="Москва">Москва</option>
                    <option value="Ростов">Ростов</option>
                    <option value="Краснодар">Краснодар</option>
                    <option value="Новосибирск">Новосибирск</option>
                </select>
                <a href="tel:+79066809075" class="tel">+7 906 680 90 75</a>
                <div class="address">Московский пр-кт 102</div>
                <div class="worktime">Пн - Вс с 10:00 до 19:00</div>
            </div>
            <div class="header-bottom__right">
                <a href="#" class="favorites"><span>12</span></a>
                <a href="#" class="cart">
                    <span><i>12</i></span>
                    <b>2000 ₽</b>
                </a>
            </div>
        </div>
    </div>
</header>