<header>
    <div class="header-top">
        <div class="container">
            <a href="#" class="logo" title="Ламинатор">
                <picture>
                    <source srcset="img/logo-new.svg" media="(min-width: 992px)">
                    <img src="img/logo-mobile.svg" alt="Logo">
                </picture>
            </a>
            <ul class="menu top-menu">
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Возврат и гарантии</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Вопросы и ответы</a></li>
                <li><a href="#">Полезная информация</a></li>
            </ul>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom__left">
                <div class="city-box">
                    <select name="select-city" id="select-city">
                        <option value="Воронеж">Воронеж</option>
                        <option value="Москва">Москва</option>
                        <option value="Ростов">Ростов</option>
                        <option value="Краснодар">Краснодар</option>
                        <option value="Новосибирск">Новосибирск</option>
                    </select>
                </div>
                <a href="tel:+79066809075" class="tel">+7 906 680 90 75</a>
                <div class="address">Московский пр-кт 102</div>
                <div class="worktime">Пн - Вс с 10:00 до 19:00</div>
            </div>
            <div class="header-bottom__right">
                <a href="#" class="favorites"><span>12</span></a>
                <a href="#" class="cart">
                    <span><i>12</i></span>
                    <b>2000 ₽</b>
                </a>
                <a id="hamburger-icon" href="javascript: void(0);" title="Menu"><span class="line line-1"></span><span class="line line-2"></span><span class="line line-3"></span></a>
            </div>
        </div>
    </div>
    <div class="mobile-menu">

    </div>
</header>