<footer>
    <div class="container-big">
        <div class="footer-top">
            <div class="footer-top__left">
                <a href="/" class="logo" title="Логотип">
                    <img src="img/logo-footer.svg" alt="Logo">
                </a>
                <div class="city-box">
                    <select name="select-city" id="select-city">
                        <option value="Воронеж">Воронеж</option>
                        <option value="Фролово">Фролово</option>
                        <option value="Ливны">Ливны</option>
                    </select>
                </div>
                <a href="tel:+79066809075" class="tel">+7 906 680 90 75</a>
                <div class="address-time">
                    <span>Московский пр-кт 102</span>
                    <i> Пн - Вс с 10:00 до 19:00</i>
                </div>
            </div>
            <div class="footer-top__right">
                <ul class="menu bottom-menu">
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Возврат и гарантии</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Вопросы и ответы</a></li>
                    <li><a href="#">Полезная информация</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="copyright">Copyright © 2021 Ламинатор. Все права защищены</div>
            <a href="https://intrid.ru/" target="_blank" class="link-dev">made in intrid</a>
        </div>
    </div>
</footer>

<div class="popup-wrap" id="popup-wrap-map">
    <div class="popup" id="popup-map">
        <div class="map">
            <a href="#" class="close-map"></a>
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A3172dc141412139e68cefbe69db9a49b475c996362a6372858f99bbeed8db3f2&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
        </div>
    </div>
</div>