@import "global/01-mixins";
@import "fonts";
@import "global/03-vars";
html {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #252525;
    position: relative;
    height: 100%;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
}

div,
section,
footer,
.btn {
    box-sizing: border-box;
}

a {
    color: #fff;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

p {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 10px 0;
}

input {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    padding: 0 8px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input:hover,
input:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0 0 0 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.title {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 20px;
}

.desc {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    position: relative;
    max-width: 1464px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container-big {
    position: relative;
    max-width: 1628px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    position: relative;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* I E   S T Y L E S */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .block {
        width: 100%;
    }
}

#hamburger-icon {
    position: relative;
    display: none;
    width: 28px;
    height: 24px;
}

#hamburger-icon .line {
    position: absolute;
    left: 0;
    display: block;
    background: #474442;
    width: 28px;
    height: 2px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    border-radius: 2px;
}

.mobile-menu {
    display: none;
}

.line.line-1 {
    top: 0;
}

.line.line-3 {
    top: 100%;
}

.line.line-2 {
    top: 50%;
}

#hamburger-icon.active .line-1 {
    transform: translateY(7px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
    -moz-transform: translateY(7px) translateX(0) rotate(45deg);
    -ms-transform: translateY(7px) translateX(0) rotate(45deg);
    -o-transform: translateY(7px) translateX(0) rotate(45deg);
}

#hamburger-icon.active .line-2 {
    opacity: 0;
}

#hamburger-icon.active .line-3 {
    transform: translateY(-16px) translateX(0) rotate(-46deg);
    -webkit-transform: translateY(-16px) translateX(0) rotate(-46deg);
    -moz-transform: translateY(-16px) translateX(0) rotate(-46deg);
    -ms-transform: translateY(-16px) translateX(0) rotate(-46deg);
    -o-transform: translateY(-16px) translateX(0) rotate(-46deg);
}

.ov-hidden {
    overflow: hidden;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer
}

header {
    padding: 0 0 0 0;
}

.header-top {
    padding: 4px 0 6px 0;
    border-bottom: 1.5px solid rgba(71, 68, 66, 0.4);
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    li {
        margin-right: 31px;
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-decoration-line: underline;
        color: #474442;
        -moz-text-decoration-line: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

.logo {
    position: absolute;
    left: 15px;
    top: 5px;
    background: #fff;
    z-index: 99;
}

.header-bottom {
    padding: 13px 0 9px 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 196px;
    }
}

.header-bottom__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
}

.nice-select:hover {
    border-color: #dbdbdb;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
    border-color: #999;
}

.nice-select:after {
    content: '';
    display: block;
    width: 14px;
    height: 7px;
    pointer-events: none;
    position: absolute;
    right: 9px;
    top: 44%;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    background: url(../img/arr-select.svg) no-repeat center;
}

.nice-select.open:after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}

.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none;
}

.nice-select.disabled:after {
    border-color: #cccccc;
}

.nice-select.wide {
    width: 100%;
}

.nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}

.nice-select.right {
    float: right;
}

.nice-select.right .list {
    left: auto;
    right: 0;
}

.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
}

.nice-select.small:after {
    height: 4px;
    width: 4px;
}

.nice-select.small .option {
    line-height: 34px;
    min-height: 34px;
}

.nice-select .list {
    max-width: 250px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    -o-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}

.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding-right: 10px;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: #f6f6f6;
}

.nice-select .option.selected {
    font-weight: bold;
}

.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}

.no-csspointerevents .nice-select .list {
    display: none;
}

.no-csspointerevents .nice-select.open .list {
    display: block;
}

.tel {
    padding: 0 0 0 28px;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
    color: #474442;
    background: url(../img/tel-ico.svg) no-repeat left center;
    margin-right: 46px;
}

.nice-select {
    margin-right: 38px;
}

.nice-select .current {
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #474442;
    border-bottom: 1px dotted #808080;
}

.address {
    padding: 0 0 0 28px;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    color: #474442;
    background: url(../img/gps.svg) no-repeat left center;
    margin-right: 46px;
}

.worktime {
    padding: 0 0 0 28px;
    font-weight: 800;
    font-size: 14px;
    line-height: 22px;
    color: #474442;
    background: url(../img/time-ico.svg) no-repeat left center;
}

.favorites {
    position: relative;
    width: 20px;
    height: 18px;
    background: url(../img/heart.svg) no-repeat center;
    margin-right: 30px;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 19px;
        height: 19px;
        background: #FFFFFF;
        border: 1px solid #474442;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #474442;
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        @include transition;
    }
}

.header-bottom__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1px 4px 0 0;
    span {
        display: block;
        width: 25px;
        height: 20px;
        position: relative;
        margin-right: 13px;
        background: url(../img/cart.svg) no-repeat left center;
    }
    i {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        width: 19px;
        height: 19px;
        background: #000;
        box-sizing: border-box;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #fff;
        position: absolute;
        top: -9px;
        right: -9px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    b {
        font-weight: 800;
        font-size: 14px;
        line-height: 17px;
        color: #474442;
    }
}

select {
    display: none;
}

.top-wrap {
    position: relative;
    padding: 217px 0 191px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(176.56deg, rgba(18, 16, 15, 0.63) -1.29%, rgba(255, 255, 255, 0) 100.9%);
        z-index: -1;
    }
    .title {
        width: 65%;
        font-weight: 800;
        font-size: 60px;
        line-height: 75px;
        color: #FFFFFF;
        margin-bottom: 17px;
    }
    .desc {
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 38px;
    }
}

.search-box {
    padding: 23px 19px 22px 21px;
    max-width: 807px;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
}

.serach-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        display: block;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        margin-right: 5px;
    }
    button {
        display: block;
        background: #AA0B0B;
        max-width: 146px;
        width: 100%;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        text-align: center;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 8px 0 9px 0;
        @include transition;
        &:hover {
            background: #000;
            color: #fff;
        }
    }
}

.input-box {
    max-width: 534px;
    width: 100%;
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 20px;
        top: 12px;
        width: 17px;
        height: 18px;
        background: url(../img/search.svg) no-repeat center;
    }
    input {
        width: 100%;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #000;
        height: 41px;
        border: none;
        padding: 0 45px 0 12px;
        margin-bottom: 0;
        &:focus {
            box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.5);
        }
    }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

@keyframes top-down {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        -o-transform: translateY(-8px);
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.btn-catalog-anchor {
    position: absolute;
    right: 149px;
    top: 118px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    i {
        display: block;
        position: absolute;
        right: -23px;
        bottom: 9px;
        width: 13px;
        height: 7px;
        background: url(../img/arr-white.svg) no-repeat center;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        @include transition;
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 1px;
        left: -22px;
        height: 25px;
        width: 3px;
        background: #B3B2AE;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        @include transition;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -24px;
        right: -71px;
        height: 74px;
        width: 3px;
        background: #B3B2AE;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        @include transition;
    }
}

.catalog-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-item {
    position: relative;
    width: 32.218%;
    box-shadow: 0px 7px 60px -14px rgba(71, 68, 66, 0.49);
    @include transition;
    overflow: hidden;
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(1.19deg, rgba(0, 0, 0, 0.81) 20.18%, rgba(255, 255, 255, 0) 99.05%);
        opacity: 0;
        @include transition;
    }
}

.catalog-item-img {
    position: relative;
    height: 0;
    padding-bottom: 50%;
    padding-bottom: 103.68%;
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.catalog-item-content {
    position: relative;
}

.catalog-content-show {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 63px 28px 63px 28px;
    b {
        display: block;
        margin-right: 19px;
        background: #AA0B0B;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-image: url(../img/big-arr.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
    span {
        font-weight: 900;
        font-size: 20px;
        line-height: 25px;
        color: #474442;
    }
}

.catalog-content-hide {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // align-items: flex-start;
    padding: 16px 34px 16px 34px;
    column-count: 2;
    column-gap: 36px;
    position: absolute;
    background: #474442;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    @include transition;
    a {
        display: block;
        width: fit-content;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        text-transform: capitalize;
        color: #FFFFFF;
        &:hover {
            text-decoration: underline;
        }
    }
}

.catalog {
    margin: -59px 0 0 0;
    position: relative;
    z-index: 5;
    margin-bottom: 108px;
}

.img-hide {
    position: absolute;
    top: -46px;
    right: 63px;
    font-weight: 900;
    font-size: 25px;
    line-height: 32px;
    text-transform: capitalize;
    color: #FFFFFF;
    transform: translateX(250px);
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -o-transform: translateX(250px);
    @include transition;
    z-index: 10;
}

.catalog-item-hide-title {
    position: absolute;
    top: -46px;
    left: 34px;
    font-weight: 900;
    font-size: 25px;
    line-height: 32px;
    text-transform: capitalize;
    color: #FFFFFF;
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    @include transition;
    z-index: 10;
}

.recommend {
    position: relative;
    padding: 0 0 72px 0;
    .title {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #474442;
        margin-bottom: 32px;
    }
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: -45px;
        @include centering(h);
        max-width: 409px;
        width: 100%;
        height: 114px;
        background: url(../img/logo-opacity-big.png) no-repeat center;
        z-index: -1;
    }
    .btn-more {
        margin-top: 23px;
    }
}

.catalog-elems {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.catalog-elem {
    position: relative;
    max-width: 240px;
    width: 100%;
    margin-right: 28px;
    margin-bottom: 29px;
    background: #FFFFFF;
    box-shadow: 0px 4px 59px -14px rgba(0, 0, 0, 0.12);
    @include transition;
    &:nth-child(6n) {
        margin-right: 0;
    }
}

.catalog-elem-img {
    position: relative;
    height: 0;
    padding-bottom: 81.67%;
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }
}

.catalog-elem-content {
    position: relative;
    padding: 12px 6px 8px 6px;
}

.catalog-elem--recom::after {
    content: 'Рекомендуем';
    position: absolute;
    top: 7px;
    left: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    background: #FFFFFF;
    padding: 7px 15px 6px 16px;
}

.catalog-elem-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #474442;
    width: 71%;
    margin-bottom: 8px;
}

.catalog-elem-fav {
    display: block;
    position: absolute;
    right: 12px;
    top: 21px;
    width: 20px;
    height: 18px;
    @include transition;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: url(../img/heart-black.svg) no-repeat center;
        @include transition;
    }
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: url(../img/heart.svg) no-repeat center;
        opacity: 0;
        @include transition;
    }
    &.active::before {
        opacity: 0;
    }
    &.active::after {
        opacity: 1;
    }
}

.catalog-elem-country {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #474442;
    margin-bottom: 10px;
}

.catalog-elem-size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    span {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #474442;
    }
    b {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #474442;
    }
}

.catalog-elem-pack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
    span {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #474442;
    }
    b {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #474442;
    }
}

.catalog-elem-form {
    border-top: 1px solid rgba(63, 22, 22, 0.07);
    padding: 1px 0 0 0;
    .btn-in-cart {
        display: block;
        width: 100%;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        padding: 8px 0 8px 0;
        background: #AA0B0B;
        margin-bottom: 12px;
        &:hover {
            background: #000;
        }
    }
}

.price-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 9px 0 0 0;
}

.old-price {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #8D837C;
    margin-right: 5px;
}

.price {
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #474442;
    sup {}
}

.col-goods {
    span {
        display: block;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #474442;
        text-align: right;
    }
}

.number {
    display: inline-block;
    position: relative;
    width: 72px;
}

.number input[type="number"] {
    display: block;
    height: 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #474442;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    border: none;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

.number input[type="number"]::-webkit-outer-spin-button,
.number input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.number-minus {
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    width: 20px;
    padding: 0;
    display: block;
    text-align: center;
    border: none;
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    color: #474442;
    background: transparent;
}

.number-plus {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    width: 20px;
    padding: 0;
    display: block;
    text-align: center;
    border: none;
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    color: #474442;
    background: transparent;
}

.catalog-elem-price-col {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 11px;
}

.catalog-elem-total-price {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #474442;
}

sup {
    top: -0.45em;
    margin-left: 0;
}

.btn-more {
    display: block;
    max-width: 166px;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 12px 0 11px 0;
    text-align: center;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.22);
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 0 0 0;
    background: #474442;
    overflow: hidden;
    margin-bottom: 43px;
    .title {
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        color: #FFFFFF;
        margin-bottom: 28px;
    }
    p {
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin: 0 0 24px 0;
    }
}

.about__left {
    padding: 46px 109px 24px 0;
    padding-left: 161px;
    width: 46.75%;
    border: 1px solid #222F33;
    border-left: none;
}

.about__right {
    position: relative;
    width: 52.4%;
}

.about__right-right {
    position: relative;
    height: 100%;
    // border: 1px solid #222F33;
    border-right: none;
    width: 41%;
    background: #474442;
    border-left: 15px solid #fff;
}

.about-elems {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.about-elem {
    position: relative;
    margin-right: 14px;
    @include transition;
    &::before {
        content: '';
        display: block;
        height: 100%;
        width: 15px;
        position: absolute;
        left: -15px;
        top: 0;
        bottom: 0;
        background: #fff;
    }
    &:last-child {
        margin-right: 0;
    }
    &:nth-last-child(2) {
        margin-right: 0;
    }
    .title {
        position: absolute;
        top: 19px;
        left: 0;
        font-weight: 800;
        font-size: 40px;
        line-height: 50px;
        color: #FFFFFF;
        height: 100%;
        -webkit-writing-mode: vertical-rl;
        writing-mode: tb-rl;
        // transform: rotate(90deg);
        // -webkit-transform: rotate(90deg);
        // -moz-transform: rotate(90deg);
        // -ms-transform: rotate(90deg);
        // -o-transform: rotate(90deg);
    }
}

.about-elem {
    position: relative;
    display: flex;
    align-items: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 182px;
    max-width: 182px;
    height: 100%;
    padding: 15px 15px 25px 15px;
    z-index: 5;
    &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
        opacity: 0;
        @include transition;
    }
    &.active {
        max-width: 300px;
    }
    &.active::after {
        opacity: 1;
    }
}

.about-elem-hide {
    min-width: 250px;
    width: 100%;
    margin-left: 35px;
    column-count: 2;
    transform: translateY(350px);
    -webkit-transform: translateY(350px);
    -moz-transform: translateY(350px);
    -ms-transform: translateY(350px);
    -o-transform: translateY(350px);
    transition: opacity .1s linear, transform .3s linear;
    -webkit-transition: opacity .1s linear, transform .3s linear;
    -moz-transition: opacity .1s linear, transform .3s linear;
    -ms-transition: opacity .1s linear, transform .3s linear;
    -o-transition: opacity .1s linear, transform .3s linear;
    visibility: hidden;
    opacity: 0;
    a {
        display: block;
        width: fit-content;
        font-size: 15px;
        margin-bottom: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

.about-elem-box {
    height: 100%;
}

.partners {
    background: #F8F8F8;
    margin-bottom: 74px;
    .container-big {
        max-width: 1680px;
    }
}

.partners-slider {
    padding: 12.5px 0 12.5px 0;
}

.partners-slider__item {
    outline: none;
    margin: 0 50px;
}

.slick-prev,
.slick-next {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #808080;
    opacity: 1;
}

.slick-next {
    right: -60px;
}

.slick-prev {
    left: -60px;
}

.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
    background: #808080;
}

.slick-next:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/next.svg) no-repeat center;
    opacity: 1;
    @include transition;
}

.slick-prev:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 5px;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/prev.svg) no-repeat center;
    opacity: 1;
    @include transition;
}

.information {
    padding: 0 0 54px 0;
    .title {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #474442;
        margin-bottom: 25px;
    }
    .btn-more {
        margin-top: 22px;
    }
}

.information-items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.information-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 300px;
    width: 100%;
    margin-right: 22px;
    margin-bottom: 30px;
    padding: 15px 7px 16px 17px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 430px;
    box-sizing: border-box;
    z-index: 5;
    @include transition;
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 148px;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(216, 216, 216, 0.0001) 1.69%, #000000 98%);
        z-index: -1;
        background-blend-mode: multiply;
        mix-blend-mode: normal;
        opacity: 0.56;
    }
}

.information-item:nth-child(5n) {
    margin-right: 0;
}

.information-date {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 11px;
}

.information-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.information-desc {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

footer {
    background: #474442;
    padding: 23px 0 33px 0;
    .logo {
        display: block;
        max-width: 121px;
        height: 52px;
        position: static;
        background: transparent;
    }
    .nice-select {
        padding-left: 25px;
        float: none;
        background: transparent;
    }
    .nice-select .current {
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        text-decoration-line: underline;
        color: #FFFFFF;
        border: none;
    }
    .nice-select .list {
        top: initial;
        bottom: 100%;
    }
    .nice-select:after {
        background: url(../img/arr-select-white.svg) no-repeat center;
    }
    .tel {
        color: #fff;
        background: url(../img/tel-ico-white.svg) no-repeat left center;
    }
    .address-time {
        background: url(../img/gps-white.svg) no-repeat left center;
        padding: 0 0 0 28px;
        span {
            display: block;
            font-weight: 800;
            font-size: 14px;
            line-height: 17px;
            text-decoration-line: underline;
            color: #fff;
        }
        i {
            display: block;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #fff;
        }
    }
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
}

.footer-top__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bottom-menu {
    a {
        color: #FFFFFF;
        text-decoration: none;
    }
}

.footer-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.copyright {
    position: relative;
    font-weight: normal;
    font-size: 10px;
    line-height: 30px;
    color: #FFFFFF;
    margin-right: 20px;
    &::after {
        content: '';
        display: block;
        position: absolute;
        right: -12px;
        top: 6px;
        height: 18px;
        width: 1px;
        background: #BEBBB7;
    }
}

.link-dev {
    font-weight: normal;
    font-size: 10px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover {
        text-decoration: underline;
    }
}

.partners-slider>.partners-slider__item:nth-child(n+2) {
    display: none;
}

@media screen and (min-width: 992px) {
    .catalog-item-hide-title:hover {
        color: #AA0B0B;
    }
    .favorites {
        &:hover span {
            animation: top-down 300ms linear 1;
            -webkit-animation: top-down 300ms linear 1;
        }
    }
    .cart {
        &:hover b {
            text-decoration: underline;
        }
        &:hover i {
            animation: top-down 300ms linear 1;
            -webkit-animation: top-down 300ms linear 1;
        }
    }
    .tel {
        &:hover {
            background: url(../img/tel-ico-hover.svg) no-repeat left center;
            color: #AA0B0B;
        }
    }
    .menu {
        a {
            &:hover {
                text-decoration: none;
            }
        }
    }
    .catalog-item {
        &:hover {
            box-shadow: 0px 4px 35px rgba(71, 68, 66, 0.49);
        }
        &:hover::after {
            opacity: 1;
            z-index: 0;
        }
    }
    .catalog-item:hover .catalog-content-hide {
        opacity: 1;
        z-index: 5;
    }
    .catalog-item:hover .catalog-item-img::after {
        opacity: 1;
    }
    .catalog-item:hover .catalog-item-hide-title {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    .catalog-item:hover .img-hide {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    .btn-catalog-anchor {
        &:hover {
            color: #AA0B0B;
        }
        &:hover::before {
            background: #AA0B0B;
        }
        &:hover::after {
            background: #AA0B0B;
        }
        &:hover i {
            background: url(../img/arr-red.svg) no-repeat center;
        }
    }
    .catalog-elem {
        &:hover {
            box-shadow: 0px 4px 50px -14px rgba(0, 0, 0, 0.5);
            transform: translateY(-8px);
            -webkit-transform: translateY(-8px);
            -moz-transform: translateY(-8px);
            -ms-transform: translateY(-8px);
            -o-transform: translateY(-8px);
        }
    }
    .catalog-elem-fav {
        &:hover::before {
            opacity: 0;
        }
        &:hover::after {
            opacity: 1;
        }
    }
    .slick-next:hover:before {
        right: 0;
    }
    .slick-prev:hover:before {
        left: 0;
    }
    .information-item {
        &:hover {
            box-shadow: 0px 4px 50px -14px rgba(0, 0, 0, 0.5);
            transform: translateY(-8px);
            -webkit-transform: translateY(-8px);
            -moz-transform: translateY(-8px);
            -ms-transform: translateY(-8px);
            -o-transform: translateY(-8px);
        }
    }
    .btn-more {
        &:hover {
            background: #AA0B0B;
        }
    }
    .bottom-menu {
        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}


/* 
M O B I L E
*/

@media screen and (max-width: 1800px) {
    .slick-next {
        right: 20px;
    }
    .slick-prev {
        left: 20px;
    }
    .slick-prev,
    .slick-next {
        top: 120%;
    }
    .about-elem.active {
        max-width: 400px;
    }
    .about__left {
        padding: 46px 50px 24px 35px;
        width: 38.75%;
    }
    .about__right {
        width: 60.4%;
    }
}

@media screen and (max-width: 1640px) {
    .information-item {
        width: 18.7%;
    }
}

@media screen and (max-width: 1620px) {
    .catalog-elem {
        width: 14.9%;
    }
    .about-elem-hide {
        column-gap: 10px;
        margin-left: 0;
    }
    .about-elem-hide a {
        font-size: 12px;
    }
    .about-elem .title {
        font-size: 32px;
    }
    .about-elem.active {
        min-width: 350px;
    }
}

@media screen and (max-width: 1500px) {
    .container {
        max-width: 1200px;
    }
    .img-hide {
        right: 15px;
    }
    .catalog-item-hide-title {
        font-size: 22px;
        left: 15px;
    }
    .top-wrap .title {
        font-size: 52px;
        line-height: 60px;
    }
}

@media screen and (max-width: 1400px) {
    footer .menu li {
        margin-right: 15px;
    }
    .about p {
        font-size: 16px;
    }
    .information-item {
        width: 30%;
        max-width: initial;
        margin: 0 15px 30px 15px;
    }
    .information-items {
        justify-content: center;
    }
    .catalog-elem {
        max-width: initial;
        width: 23.2%;
    }
    .catalog-elem:nth-child(6n) {
        margin-right: 28px;
    }
    .catalog-elem:nth-child(4n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 1340px) {
    .footer-top {
        flex-direction: column;
        justify-content: center;
    }
    .footer-top__left {
        margin-bottom: 25px;
    }
    .footer-bottom {
        justify-content: center;
    }
}

@media screen and (max-width: 1280px) {
    .about {
        flex-direction: column;
    }
    .about__left {
        border: none;
        width: 100%;
    }
    .about__right {
        width: 100%;
    }
    .about__right-right {
        display: none;
    }
    .about-elems {
        justify-content: center;
    }
    .about-elem::before {
        content: none;
    }
    .about-elem {
        min-height: 350px;
        min-width: initial;
        max-width: 300px;
        width: 100%;
    }
    .about-elem .title {
        font-size: 26px;
    }
    .about-elem::after {
        opacity: 1;
    }
    .about-elem-hide {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    .about-elem .title {
        top: 10px;
        left: 10px;
        writing-mode: horizontal-tb;
    }
}

@media screen and (max-width: 1199px) {
    html,
    body {
        min-width: 320px;
        width: 100%;
        overflow-x: hidden;
    }
    a:focus {
        outline: none;
    }
    .btn-catalog-anchor {
        right: 0;
    }
    .catalog-elem {
        max-width: initial;
        width: 31.3%;
    }
    .catalog-elem:nth-child(4n) {
        margin-right: 28px;
    }
    .catalog-elem:nth-child(3n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 1150px) {
    .top-wrap {
        padding: 150px 0 150px 0;
    }
    .worktime,
    .address,
    .tel {
        font-size: 12px;
    }
    .address,
    .tel {
        margin-right: 20px;
    }
    .nice-select {
        margin-right: 20px;
    }
    .nice-select .current {
        font-size: 14px;
    }
    .header-bottom .container {
        padding-left: 175px;
    }
}

@media screen and (max-width: 1090px) {
    .top-wrap .title {
        font-size: 42px;
        line-height: 48px;
    }
    .catalog-item-hide-title {
        font-size: 18px;
    }
}

@media screen and (max-width: 991px) {
    .catalog-item-img {
        position: relative;
    }
    .catalog-item-img::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: -o-linear-gradient(88.81deg, rgba(0, 0, 0, 0.81) 20.18%, rgba(255, 255, 255, 0) 99.05%);
        background: linear-gradient( 1.19deg, rgba(0, 0, 0, 0.81) 20.18%, rgba(255, 255, 255, 0) 99.05%);
        opacity: 1;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
    }
    .img-hide {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    .catalog-content-hide {
        opacity: 1;
    }
    .catalog-item-hide-title:active {
        color: #AA0B0B;
    }
    .catalog-item-hide-title {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    .catalog-content-show {
        opacity: 0;
    }
    .recommend::after {
        max-width: 294px;
        width: 100%;
        height: 81px;
        background-size: cover;
        top: -14px;
    }
    .bottom-menu {
        a {
            &:active {
                text-decoration: underline;
            }
        }
    }
    .tel {
        &:active {
            background: url(../img/tel-ico-hover.svg) no-repeat left center;
            color: #AA0B0B;
        }
    }
    .btn-more {
        &:active {
            background: #AA0B0B;
        }
    }
    .information-item {
        &:active {
            box-shadow: 0px 4px 50px -14px rgba(0, 0, 0, 0.5);
            transform: translateY(-8px);
            -webkit-transform: translateY(-8px);
            -moz-transform: translateY(-8px);
            -ms-transform: translateY(-8px);
            -o-transform: translateY(-8px);
        }
    }
    .slick-next:active:before {
        right: 0;
    }
    .slick-prev:active:before {
        left: 0;
    }
    .catalog-elem {
        box-shadow: 0px 40px 80px rgba(184, 187, 190, 0.2);
    }
    .btn-catalog-anchor {
        &:active {
            color: #AA0B0B;
        }
        &:active::before {
            background: #AA0B0B;
        }
        &:active::after {
            background: #AA0B0B;
        }
        &:active i {
            background: url(../img/arr-red.svg) no-repeat center;
        }
    }
    .about-elem .title {
        position: static;
    }
    .about-elems {
        padding: 0 15px;
        align-items: stretch;
    }
    .about-elem .title {
        font-size: 21px;
    }
    .about-elem {
        height: auto;
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        max-width: initial;
        width: 30%;
    }
    .about-elem-hide {
        column-count: auto;
    }
    .catalog-elems {
        justify-content: center;
    }
    .catalog-elem {
        margin: 0 10px;
        margin-bottom: 30px;
        max-width: initial;
        width: 47%;
    }
    .catalog-elem:nth-child(3n) {
        margin: 0 10px;
        margin-bottom: 30px;
    }
    .catalog-elem:nth-child(2n) {
        margin: 0 10px;
        margin-bottom: 30px;
    }
    header {
        opacity: 0;
        visibility: hidden;
        @include transition;
        height: 44px;
    }
    header.load {
        opacity: 1;
        visibility: visible;
    }
    .address {
        background: url(../img/gps-white.svg) no-repeat left center;
    }
    .worktime {
        background: url(../img/time-ico-white.svg) no-repeat left center;
    }
    .serach-form button:hover {
        background: #AA0B0B;
        color: #fff;
    }
    .serach-form button:active {
        background: #000;
        color: #fff;
    }
    .header-bottom .container {
        padding-left: 0;
    }
    header {
        border-bottom: 2px solid #B8B7B7;
    }
    #hamburger-icon {
        display: block;
    }
    .mobile-menu {
        position: fixed;
        top: 67px;
        right: 0;
        width: 100vw;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        height: calc(100vh - 67px);
        z-index: 30;
        overflow: auto;
        background: rgba(0, 0, 0, 0.9);
        padding: 35px 15px 25px;
        box-sizing: border-box;
        // box-shadow: inset 0 29px 33px rgba(0, 86, 189, .1);
        transform: translate(100vw, 0);
        -webkit-transform: translate(100vw, 0);
        -moz-transform: translate(100vw, 0);
        -ms-transform: translate(100vw, 0);
        -o-transform: translate(100vw, 0);
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: .3s ease-in-out;
    }
    .mobile-menu.active {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
    .mobile-menu .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .mobile-menu .menu li {
        display: block;
        margin: 0 0 30px 0;
    }
    .mobile-menu .menu a {
        font-size: 24px;
        color: #fff;
        text-decoration: none;
    }
    .mobile-menu .menu a:active {
        color: #AA0B0B;
    }
    .catalog-content-hide a {
        font-size: 14px;
    }
    .search-box {
        max-width: 640px;
    }
    .input-box {
        max-width: 375px;
    }
    .input-box input {
        font-size: 12px;
    }
    .top-wrap .title {
        width: 85%;
    }
    .header-top {
        border: none;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 0 8px 0;
    }
    .logo {
        position: static;
    }
    .header-bottom {
        padding: 0px 0 0px 0;
    }
    .header-top {
        padding: 0 0 0 0;
    }
    .tel {
        line-height: 20px;
        margin-right: 22px;
    }
    .favorites {
        margin-right: 20px;
    }
    .cart {
        margin-right: 18px;
        padding: 3px 0;
        padding-right: 23px;
        border-right: 1px solid #BEBBB7;
    }
    .address {
        margin: 0 auto;
        margin-bottom: 20px;
        color: #fff;
        font-size: 14px;
    }
    .worktime {
        margin: 0 auto;
        margin-bottom: 20px;
        color: #fff;
        font-size: 14px;
    }
    header .city-box {
        max-width: 280px;
        width: 100%;
        margin: 0 auto;
    }
    header .city-box .nice-select {
        width: 100%;
    }
    .nice-select .list {
        min-width: 100%;
    }
    .catalog-items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .catalog-item {
        width: 45%;
        margin: 0 15px;
        margin-bottom: 35px;
    }
    .catalog {
        margin: 26px 0 25px 0;
    }
}

@media screen and (max-width: 768px) {
    .information-item {
        width: 44%;
    }
}

@media screen and (max-width: 760px) {
    .btn-catalog-anchor {
        display: none;
    }
    .about-elem .title {
        font-size: 18px;
    }
}

@media screen and (max-width: 730px) {
    .catalog-item {
        width: 100%;
        margin: 0 0 23px 0;
        box-shadow: 0px 4px 35px rgba(71, 68, 66, 0.3);
    }
    header .tel {
        width: 20px;
        height: 20px;
        font-size: 0;
        padding: 0;
    }
    .top-wrap .title {
        font-size: 25px;
        line-height: 31px;
        width: 100%;
    }
    .top-wrap .desc {
        font-size: 18px;
        line-height: 22px;
    }
    .top-wrap {
        padding: 70px 0 166px 0;
    }
}

@media screen and (max-width: 705px) {
    .catalog-elem {
        margin: 0 7.5px 16px 7.5px;
        max-width: initial;
        width: 45%;
    }
    .catalog-elem-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }
    .catalog-elem-country {
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
    }
    .catalog-elem-size span {
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
    }
    .catalog-elem-size b {
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
    }
    .old-price {
        font-weight: 900;
        font-size: 10px;
        line-height: 16px;
    }
    .price {
        font-weight: 900;
        font-size: 14px;
        line-height: 16px;
    }
    .catalog-elem--recom::after {
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        padding: 2px 8px 2px 5px;
        top: 10px;
    }
    .col-goods span {
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
    }
    .number input[type="number"] {
        font-weight: 500;
        font-size: 15px;
        line-height: 32px;
    }
    .number-plus,
    .number-minus {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
    }
    .catalog-elem-total-price {
        font-weight: 500;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
    }
    .catalog-elem-form .btn-in-cart {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        padding: 8px 0 7px 0;
    }
    .catalog-elems *.catalog-elem {
        margin: 0 15px 16px 0;
        width: 47%;
    }
    .catalog-elems *.catalog-elem:nth-child(2n) {
        margin: 0 0 16px 0;
    }
    .recommend .title {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 25px;
    }
    .catalog {
        margin: 26px 0 55px 0;
    }
    .recommend::after {
        top: -34px;
    }
    .partners-slider__item {
        margin: 0 25px;
        max-width: 80px;
    }
    .partners-slider__item img {
        max-width: 80%;
        margin: 0 auto;
    }
    .about {
        margin-bottom: 10px;
    }
    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before {
        opacity: .25;
    }
    .slick-dots li button:before {
        font-size: 32px;
        color: #AA0B0B;
    }
    .slick-dots li.slick-active button:before {
        color: #AA0B0B;
        opacity: 1;
    }
    .partners-slider {
        margin: 0 -15px;
    }
    .catalog-elem-title {
        width: 100%;
    }
    .catalog-elem-content {
        position: static;
    }
    .catalog-elem-fav {
        width: 13px;
        height: 11.45px;
        top: 12px;
        right: 8px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .catalog-elem-fav::before {
        background: url(../img/heart-white.svg) no-repeat center;
    }
    .catalog-elem-fav::before,
    .catalog-elem-fav::after {
        background-size: cover;
    }
    .bottom-menu {
        display: none;
    }
    .footer-top__left {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .logo {
        max-width: 177px;
        width: 100%;
        height: 76px;
        margin-bottom: 15px;
    }
    footer {
        padding: 16px 0 15px 0;
    }
    .nice-select .list {
        z-index: 99;
    }
    footer .city-box {
        margin-bottom: 15px;
    }
    footer .tel {
        margin-bottom: 15px;
        margin-right: 0;
    }
    .footer-top__left {
        width: 100%;
    }
    footer .nice-select {
        margin-right: 0;
    }
    .footer-top {
        margin-bottom: 0;
    }
    .footer-bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        padding-top: 8px;
    }
}

@media screen and (max-width: 680px) {
    .serach-form button {
        position: absolute;
        left: 0px;
        bottom: -53px;
    }
    .search-box {
        padding: 9px 10px 10px 10px;
        margin: 0 -10px;
        width: initial;
    }
    .serach-form span {
        font-size: 14px;
        line-height: 17px;
        margin-right: 4px;
    }
    .input-box {
        max-width: inherit;
        width: 86.958%;
    }
    .input-box::after {
        right: 6px;
    }
    .input-box input {
        font-size: 11px;
        padding: 0 25px 0 12px;
        line-height: 13px;
    }
    .cart b {
        display: none;
    }
    .cart span {
        margin-right: 0;
    }
    .header-top {
        flex-shrink: 0;
    }
    .header-bottom {
        display: flex;
        justify-content: flex-end;
    }
    .catalog-content-show {
        padding: 35px 20px 29px 24px;
    }
    .catalog-item-img {
        padding-bottom: 79.68%;
    }
    // .img-hide {
    //     display: none;
    // }
    .catalog-content-hide {
        column-gap: 26px;
    }
    // .catalog-content-hide {
    //     position: relative;
    //     padding: 16px 24px 16px 24px;
    //     height: 0;
    //     opacity: 1;
    //     top: 45px;
    // }
    .catalog-item-content {
        height: auto;
    }
    .catalog-item:hover .catalog-content-show {
        display: none;
    }
    .catalog-item:hover .catalog-content-hide {
        height: auto;
        top: 0;
    }
    .about-elems {
        display: none;
    }
    .about .title {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
    }
    .about p {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
    }
    .about__left {
        padding: 33px 23px 24px 23px;
    }
    .information-item {
        display: none;
    }
    .information-item:first-child,
    .information-item:nth-child(2) {
        display: flex;
    }
    .btn-more {
        max-width: 141px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        padding: 11px 0 11px 0;
    }
    .information {
        padding: 0 0 46px 0;
    }
    .information .title {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 18px;
    }
    .information-items {
        padding: 0 22px;
    }
}

@media screen and (max-width: 575px) {
    .information-item {
        min-height: 287px;
        width: 100%;
        margin: 0 0 18px 0;
        background-position: center top;
    }
    .information-date {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 11px;
    }
    .information-title {
        font-weight: 800;
        font-size: 20px;
        line-height: 25px;
    }
    .information-desc {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 375px) {
    .input-box input {
        padding: 0 30px 0 12px;
    }
}

@media screen and (max-width: 365px) {
    .copyright::after {
        content: none;
    }
    .footer-bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copyright {
        margin-right: 0;
    }
    .price {
        font-size: 12px;
    }
}

@media screen and (max-width: 360px) {
    .tel {
        margin-right: 15px;
    }
    .cart {
        padding-right: 15px;
        margin-right: 15px;
    }
}